div.card, div img {
  padding: 0.5em;
}

.category-title {
  padding-top: 0.5em;
  font-weight: bold;
  text-align: center;
}

div.glyphicon-picture {
  font-size: 4em;
  opacity: 0.6;
}

.no-image {
  text-align: center;
}

.expired {
  color: red;
  font-weight: bold;
}

div.card.expired {
  background-color: rgba(255, 0, 0, 0.1);
  color: inherit;
  font-weight: inherit;
}