<template [ngIf]="!selected">
    <policy-holder-autocomplete (onSelectedPolicyHolder)="displayCard($event)"></policy-holder-autocomplete>
    <div class="clickable" (click)="openPolicyHolderAdditionModal()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Ajouter un assuré
    </div>
</template>
<template [ngIf]="selected">
    <div class="pull-right">
        <span class="glyphicon glyphicon-remove clickable" (click)="unselect()"></span>
    </div>
    <health-insurance-card [card]="card" [policyHolder]="policyHolder"></health-insurance-card>
</template>
<policy-holder-edit-modal [(show)]="policyHolderModalOpened"></policy-holder-edit-modal>