<div class="fade" [ngClass]="{'modal-backdrop':_visible, in:_visible}"></div>
<div class="modal fade" [ngClass]="{in:_visible, show:_visible}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="close()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter un assuré</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row form-group flex-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                        <label for="insuranceCompaniesQuery">Assureur</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="text" id="insuranceCompaniesQuery"
                               suggest [observe]="_insuranceCompanies" [descriptor]="_insuranceCompanyDescriptor"
                               (onSelectedElement)="selectedInsuranceCompany($event)"
                               class="form-control form-control-only-bottom"
                               placeholder="Nom de l&rsquo;assureur"
                               [ngModel]="_insuranceCompaniesQuery"
                               (ngModelChange)="retrieveInsuranceCompanies($event)">
                    </div>
                </div>
                <div class="row form-group flex-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                        <label for="policyHolderId">N&deg; assur&eacute;</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="text" id="policyHolderId" class="form-control form-control-only-bottom"/>
                    </div>
                </div>
                <div class="row form-group flex-group">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                        <label for="policyHolderId">Date d&rsquo;expiration</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="date" class="form-control form-control-only-bottom">
                    </div>
                </div>
                <div class="row bottom-margin">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                        <label>Assur&eacute;s</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <policy-holders [edit]="true" [policyHolders]="_policyHolders"></policy-holders>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                        <label>Remboursements</label>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <reimbursements [edit]="true" [reimbursements]="_reimbursements"></reimbursements>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
                <button type="button" class="btn btn-primary">Ajouter</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->