@import "../../../../../mixins";

.table div.input-group-addon {
  @include bottom-only-input();
  padding: 0.2em 0.2em 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.form-control-only-bottom:focus {
  @include bottom-only-input-focus();
}