# Node, npm, typings
node_modules
npm-debug.log
typings

# Intellij IDEA
.idea
*.iml

# Generated sources
*.css
app/**/*.js
app/**/*.js.map

# Do not ignore tests specs
!app/**/*.spec.js

# Build
logi-pharma-front-*/

# Mac
.DS_Store
