# Build tools
node_modules
npm-debug.log
typings
coverage

# Build
dist
logipharma-*/

# Intellij IDEA
.idea
*.iml

# Generated sources
*.css
src/app/**/*.js
src/app/**/*.js.map

# Do not ignore tests specs
!app/**/*.spec.js

# Mac
.DS_Store
