# Build tools
node_modules
npm-debug.log
typings
coverage
report

# Build
dist
logipharma-*/

# Intellij IDEA
.idea
*.iml
.editorconfig

# Generated sources
*.css
src/app/**/*.js
src/app/**/*.js.map
config/**/*.js
config/**/*.js.map

# Do not ignore tests specs
!app/**/*.spec.js

# Mac
.DS_Store
