<ul [ngClass]="{show: _viewState.visible, hide: !_viewState.visible}" class="suggest"
    [style.width]="_viewState.width">
    <template [ngIf]="hasElements()">
        <li *ngFor="let element of _viewState.elements"
            title="{{ represent(element) }}" [ngClass]="{highlighted:highlighted(element)}" class="clickable"
            (mousedown)="select(element)" [style.width]="_viewState.width">
            {{ represent(element) }}
        </li>
    </template>
    <template [ngIf]="!hasElements()">
        <li title="{{ emptyMessage() }}" [style.width]="_viewState.width">
            {{ emptyMessage() }}
        </li>
    </template>
</ul>