@import "mixins";

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../node_modules/font-awesome/fonts/";
$body-bg: rgba(245, 245, 245, 0.1);

$btn-margin: 0.5em;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

.form-control-only-bottom {
  @include bottom-only-input();
  padding-right: 0;
}

.form-control-only-bottom:focus {
  @include bottom-only-input-focus();
}

.form-control-only-bottom.ng-invalid.ng-dirty {
  border-bottom: 2px solid $state-danger-text;
}

.btn {
  span.glyphicon {
    margin-right: $btn-margin;
  }
}

.btn {
  margin-left: $btn-margin;
}

div.card {
  @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
  @include border-radius(3px);
}

.align-right {
  text-align: right;
}

.not-displayed {
  display: none;
}

.clickable:hover {
  cursor: hand;
}

.flex-group {
  display: flex;
  align-items: center;
}

.form-horizontal .flex-group .control-label {
  padding-top: 0;
}

.fa-circle-o-notch.fa-5x.absolute-center {
  margin-top: -1.5em;
  margin-left: -1.5em;
}

.fa-circle-o-notch.fa-5x {
  color: rgb(16, 78, 139);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.error-label.has-error {
  font-weight: bold;
  color: $state-danger-text;
}