@import "mixins";

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../node_modules/font-awesome/fonts/";
$body-bg: rgba(245, 245, 245, 0.1);

$box-shadow-default: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.8);
$btn-margin: 0.5em;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

.form-control-only-bottom {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding-right: 0;
  border-bottom: 1px solid $input-border;
  @include box-shadow(none);
  @include border-radius(0);
}

.form-control-only-bottom:focus {
  border-bottom-width: 2px;
  border-color: rgba(16, 78, 139, 0.7);
  @include box-shadow($box-shadow-default);
}

.btn {
  span.glyphicon {
    margin-right: $btn-margin;
  }
}

.btn {
  margin-left: $btn-margin;
}

div.card {
  @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
  @include border-radius(3px);
}

.align-right {
  text-align: right;
}

.not-displayed {
  display: none;
}

.clickable:hover {
  cursor: hand;
}

.flex-group {
  display: flex;
  align-items: center;
}

.form-horizontal .flex-group .control-label {
  padding-top: 0;
}

.fa-circle-o-notch.fa-5x.absolute-center {
  margin-top: -1.5em;
  margin-left: -1.5em;
}

.fa-circle-o-notch.fa-5x {
  color: rgb(16, 78, 139);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
}