@import "mixins";

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg: rgba(245, 245, 245, 0.1);

$box-shadow-default: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.8);
$btn-margin: 0.5em;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

fieldset {
  padding: .35em .625em .75em;
  margin: 1em 1em 1em 1em;
  border: 0.2em solid rgba(16, 78, 139, 0.6);
  border-radius: $border-radius-large;
}

legend {
  width: auto;
  padding-left: 0.3em;
  padding-right: 0.5em;
  border: 0;
  font-size: $font-size-h6;
  font-weight: bold;
  color: rgb(16, 78, 139);
}

.form-control-only-bottom {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding-right:0;
  border-bottom: 1px solid $input-border;
  @include box-shadow(none);
  @include border-radius(0);
}

.form-control-only-bottom:focus {
  border-bottom-width: 2px;
  border-color: rgba(16, 78, 139, 0.7);
  @include box-shadow($box-shadow-default);
}

.btn {
  span.glyphicon {
    margin-right: $btn-margin;
  }
}

.btn {
  margin-left: $btn-margin;
}