<form class="form">
    <fieldset>
        <legend>Client</legend>
        <div class="form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="assure">Assur&eacute;</label>
                <input type="text" id="assure" class="form-control form-control-only-bottom"
                       placeholder="Code ou Nom"/>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Produit</legend>
        <div class="form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="control-label" for="product">Produit</label>
                <input ph-autocomplete type="text" id="product"
                       class="form-control form-control-only-bottom"
                       placeholder="R&eacute;f&eacute;rence ou Libell&eacute;">
            </div>
        </div>
    </fieldset>
    <div class="navbar-fixed-bottom">
        <button class="btn btn-primary pull-right" type="button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Vendre
        </button>
        <button class="btn btn-default pull-right" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Annuler
        </button>
    </div>
</form>